@import '_mixins';

.container {
  display: block;
  margin-bottom: 2rem;

  @media #{$mobile-only} {
    padding: 0 2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media #{$mobile-only} {
    flex-direction: column-reverse;
  }
}

.balance {
  span {
    color: #868E96;
    display: block;
    font-size: 1.6rem;
  }

  data {
    font-weight: 600;
    font-size: 3.6rem;
  }
}