@import '_mixins';

.container {
  position: sticky;
  top: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media #{$mobile-only} {
   flex-direction: row;
   justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.item {
  font-size: 1.3rem;
  font-weight: 600;
  color: $nav-prm-color;
  border-radius: 8px;
  width: 18rem;
  height: 4.5rem;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0,0,0,0);

  @media #{$mobile-only} {
    width: auto;
    height: auto;
    padding: 1.5rem;
    flex: 1 1 auto;
  }

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }

  i {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 1rem;

    svg {
      width: 100%;
      height: auto;
    }
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    color: inherit;
    text-decoration: none;

    @media #{$mobile-only} {
      flex-direction: column;
      padding-left: 0;
    }
  }
}

.itemActive {
  background: $nav-gradient;
  color: white;
  background-color: $nav-prm-color;

  svg > path {
    fill: white;
  }
}